@model IEnumerable<HotelData.Entities.Record>

<div id="searchresults">

    <h3>Все комнаты</h3>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOut)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.DateIn <= DateTime.Now && item.DateOut >= DateTime.Now)
            {
                <tr bgcolor="FF0000">
                    <td>@item.RecordID</td>
                    <td>@item.DateIn</td>
                    <td>@item.DateOut</td>
                </tr>
            }
            if (item.DateIn > DateTime.Now)
            {
                <tr bgcolor="7FFFD4">
                    <td>@item.RecordID</td>
                    <td>@item.DateIn</td>
                    <td>@item.DateOut</td>
                </tr>
            }
            if (item.DateOut < DateTime.Now)
            {
                <tr bgcolor="c0c0c0">
                    <td>@item.RecordID</td>
                    <td>@item.DateIn</td>
                    <td>@item.DateOut</td>
                </tr>
            }
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RecordID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RecordID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.RecordID })
                    </td>*@
            
        }

    </table>
</div>
