@model HotelData.ViewModels.RoomRoomInfoViewModel


@{ 
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
    }


<br>
<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
            <img src="@Url.Content(Model.Photo)" alt="Sample Image" width="300px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
