@model IEnumerable<HotelData.Entities.Record>

<div id="searchresults">

    <h3>Все записи о комнате : @Model.First().Room.RoomID</h3>
    <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOut)
                </th>      
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RecordID</td>
                    <td>@item.DateIn</td>
                    <td>@item.DateOut</td>
                </tr>
            }
        </table>


</div>
